{% extends "user/dashboardlayout.html" %}

{% block title %}Edit Budget{% endblock %}

<div class="row">
    <div class="col-md-8">
        <h4 class="text-center">{% block pagetitle %}Edit Budget{% endblock %}</h4>
    </div>
    {% block buttons %}
    <div class="col-md-2">
        <a type="button" href="/budgetreport/" class="btn btn-success"> All Budgets</a>
    </div>
    <div class="col-md-2">
        <a type="button" href="/report/" class="btn btn-success">All Expenses</a>
    </div>
    {% endblock %}
</div>

{% block content %} 
<div>
    <form action="" method="post" class="form" id="my-form">
        <input type="hidden" name="budgetId" id="budgetId" value="{{bud.budget_id}}">
        <div class="row">
            <div class="col-md-5">
                <label for="budget_name" class="form-label">Budget Name</label>
                <input type="text" name="budget_name" id="budget_name" value="{{bud.budget_name}}" class="form-control" required> 
            </div>
            <div class="col-md-5">
                <label for="current_income" class="form-label">Current Income</label>
                <input type="number" name="current_income" id="current_income" value="{{bud.current_income}}" step="0.01" class="form-control" required>
            </div>
        </div>
        <div class="row justify-space-around">
            <div class="col-md-5">
                <label for="start_date" class="form-label">Start Date</label>
                <input type="date" name="start_date" id="start_date" value="{{bud.start_date}}" class="form-control" required>
            </div>
            <div class="col-md-5">
                <label for="end_date" class="form-label">End Date</label>
                <input type="date" name="end_date" id="end_date" value="{{bud.end_date}}" class="form-control" required>
            </div>
        </div>
        <div id="item_fields">
            <div class="row item_field">
                {% for b in bud.items %}
                <div class="col-md-10">
                    <label for="item_name" class="form-label">Item Name</label>
                    <input type="text" name="item_name[]" id="item_name" value="{{b.item_name}}" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="item_category" class="form-label">Item Category</label>
                    <select name="item_category[]" id="item_category" class="form-control" required>
                        <option value="{{b.catego.cat_id}}" class="form-control">{{b.catego.cat_name}}</option>
                        {% for cat in category %}
                        <option value="{{ cat.cat_id }}">{{ cat.cat_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="item_status" class="form-label">Item Status</label>
                    <select name="item_status[]" id="item_status" class="form-control" required>
                        <option value="{{b.item_status}}" class="form-control">select..</option>
                        <option value="1">Enable</option>
                        <option value="0">Disable</option>  
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="item_amount" class="form-label">Item Amount</label>
                    <input type="text" name="item_amount[]" id="item_amount" value="{{b.item_amount}}" class="form-control" step="0.01" required>
                </div>
                {% endfor %}
            </div>
        </div> 
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="btn m-2 btn-success px-3" type="submit">Edit Budget</button>
    </form>
</div>

{% endblock %}

{% block script%}
        <script>
        
        $(document).ready(function(){
        $("#budgetname").change(function(){
            var budgetId = $(this).val()
            var csrf = '{{csrf_token()}}'
            

            $.ajax({
                url: '/budget/items/',
                type: 'POST',
                data: {"budgetId":budgetId, "csrf_token":csrf},
                beforeSend: function() {
                    $("#itemname").html('')
                },
                success: function(resp){
                    $('#itemname').append(`<option value=''> select item </option>`)
                    for (let index = 0; index < resp.length; index++) {
                        $('#itemname').append(`<option value='${resp[index].item_id}'> ${resp[index].item_name} </option>`)
                    }

    
                }
            })
        })
    })

   

        function calculateTotalItemAmount() {
            const item_amounts = document.getElementsByName('item_amount[]');
            let total_amount = 0;
            for (let i = 0; i < item_amounts.length; i++) {
                const amount = parseFloat(item_amounts[i].value);
                if (!isNaN(amount)) {
                total_amount += amount;
                }
            }
            return total_amount;
            }
        
        function customAlert(message) {
            const alertBox = document.createElement('div');
            alertBox.classList.add('alert-box');
            alertBox.innerHTML = `<p>${message}</p>`;

            const body = document.querySelector('body');
            body.appendChild(alertBox);

            setTimeout(() => {
                body.removeChild(alertBox);
            }, 3000);
            }

        const form = document.getElementById('my-form');
        const item_fields = document.getElementById('item_fields');

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = new FormData(form);
            formData.append('budget_name', document.getElementById('budget_name').value);
            formData.append('current_income', document.getElementById('current_income').value);
            formData.append('start_date', document.getElementById('start_date').value);
            formData.append('end_date', document.getElementById('end_date').value);

            const budgetId=document.getElementById('budgetId').value

            const total_amount = calculateTotalItemAmount();
            const current_income = parseFloat(document.getElementById('current_income').value);
            if (total_amount > current_income) {
            alert('The total item amount cannot be more than the current income.');
            return;
            }

            fetch('/update_budget/' + budgetId, {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                customAlert('Budget Edited Successfully');
                location.reload();
            });

            });

        document.getElementById('add_item').addEventListener('click', function() {
        var item_field = document.createElement('div');
        item_field.classList.add('item_field');
        item_field.innerHTML = `
        <div class="col-md-10">
            <label for="item_name" class="form-label">Item Name</label>
            <input type="text" name="item_name[]" id="item_name" value="" class="form-control" required>
        </div>
        <div class="row">
        <div class="col-md-3">
            <label for="item_category" class="form-label">Item Category</label>
            <select name="item_category[]" id="item_category" class="form-control" required>
                <option value="" class="form-control">select...</option>
                {% for cat in category %}
                <option value="{{ cat.cat_id }}">{{ cat.cat_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <label for="item_status" class="form-label">Item Status</label>
            <select name="item_status[]" id="item_status" class="form-control" required>
                <option value="" class="form-control">select...</option>
                <option value="1">Enable</option>
                <option value="0">Disable</option>  
            </select>
        </div>
        <div class="col-md-4">
            <label for="item_amount" class="form-label">Item Amount</label>
            <input type="number" name="item_amount[]" id="item_amount" value="" class="form-control" step="0.01" required>
        </div>
        </div>
    `;
    item_fields.appendChild(item_field);
    // console.log(item_count)
});

    

    </script>
    {% endblock %}
