<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		<meta name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no'>
		<meta charset='utf-8'>	  
		<link href='bootstrap/css/bootstrap.css' rel='stylesheet' type='text/css'>
		<style type="text/css">
			body{
				box-sizing: 0px;
				margin-top: 50px;
			}
			/* div{
				 border: 2px solid red;
				min-height: 150px; 
			} */
		
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-5">
					<div><img src="images/banner.jpg" alt="" class="img-fluid"></div>
					<div class="text-center">
					<h5>Take control of your <br>finances</h5>
					<p>Manage your budget with ease</p>
					</div>
				</div>

				<div class="col-md-5">
					<form action="" method="">
							<h1>Login</h1>
						<div>
							<label for="uname" class="form-label">Username</label>
							<input type="text" id="uname" name="uname" placeholder="username" class="form-control col-6 mb-3">
						</div>

						<div>
							<label for="pword" class="form-label">Password</label>
							<input type="password" id="pword" name="pword" placeholder="password" required class="form-control col-6 mb-3">
						</div>

						<div>
							<input type="button" value="Login" class="form-control col-6 mb-3">
							<p><a href="#">Forgot your password?</a> <span><a href="#">Don't have an account? Sign up</a></span></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>